In [1]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import OneHotEncoder
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn import preprocessing
from sklearn.metrics import accuracy_score
from sklearn.neighbors import KNeighborsClassifier
from collections import Counter
import matplotlib.pyplot as plt
from sklearn.svm import SVC  
from sklearn.naive_bayes import GaussianNB
from sklearn.tree import DecisionTreeClassifier
import xgboost as xgb
from xgboost.sklearn import XGBClassifier
from sklearn.neural_network import MLPClassifier
from sklearn.decomposition import FastICA
from sklearn.ensemble import AdaBoostClassifier
from sklearn.ensemble import GradientBoostingClassifier
from sklearn import decomposition
from sklearn.feature_selection import SelectPercentile as sp
from sklearn.feature_selection import SelectFromModel
from sklearn.linear_model import Lasso
from mlxtend.feature_selection import SequentialFeatureSelector
from sklearn.feature_selection import RFECV

In [2]:
df = pd.read_csv('IoT_Fridge.csv')

In [3]:
df.head()

        date            time  fridge_temperature temp_condition  label    type
0  31-Mar-19     12:36:52                  13.10          high       0  normal
1  31-Mar-19     12:36:53                   8.65          high       0  normal
2  31-Mar-19     12:36:54                   2.00           low       0  normal
3  31-Mar-19     12:36:55                   4.80           low       0  normal
4  31-Mar-19     12:36:56                  10.70          high       0  normal

In [4]:
df = df.drop(['date', 'time'], axis = 1)
df

        fridge_temperature temp_condition  label    type
0                    13.10          high       0  normal
1                     8.65          high       0  normal
2                     2.00           low       0  normal
3                     4.80           low       0  normal
4                    10.70          high       0  normal
...                    ...            ...    ...     ...
587071                4.00            low      0  normal
587072                6.05           high      0  normal
587073               12.80           high      0  normal
587074                6.50           high      0  normal
587075                5.30            low      0  normal

[587076 rows x 4 columns]

In [5]:
df.isnull().sum()

fridge_temperature    0
temp_condition        0
label                 0
type                  0
dtype: int64

In [6]:
target = df.loc[:, ('type')]

In [7]:
df = df.drop('type', axis = 1)
df

        fridge_temperature temp_condition  label
0                    13.10          high       0
1                     8.65          high       0
2                     2.00           low       0
3                     4.80           low       0
4                    10.70          high       0
...                    ...            ...    ...
587071                4.00            low      0
587072                6.05           high      0
587073               12.80           high      0
587074                6.50           high      0
587075                5.30            low      0

[587076 rows x 3 columns]

In [8]:
cat = []
for i in df.columns:
    if len(df[i].unique()) <= 20: cat.append(i)
df_cat = df[cat]
df_cat

       temp_condition  label
0               high       0
1               high       0
2                low       0
3                low       0
4               high       0
...               ...    ...
587071            low      0
587072           high      0
587073           high      0
587074           high      0
587075            low      0

[587076 rows x 2 columns]

In [9]:
df_temp = df.drop(cat, axis = 1)
df_temp

        fridge_temperature
0                    13.10
1                     8.65
2                     2.00
3                     4.80
4                    10.70
...                    ...
587071                4.00
587072                6.05
587073               12.80
587074                6.50
587075                5.30

[587076 rows x 1 columns]

In [10]:
scaler = StandardScaler()
df[df_temp.columns] = scaler.fit_transform(df[df_temp.columns])
df

        fridge_temperature temp_condition  label
0                 1.642293          high       0
1                 0.414644          high       0
2                -1.419933           low       0
3                -0.647480           low       0
4                 0.980190          high       0
...                    ...            ...    ...
587071           -0.868180            low      0
587072           -0.302634           high      0
587073            1.559530           high      0
587074           -0.178490           high      0
587075           -0.509541            low      0

[587076 rows x 3 columns]

In [11]:
label_encoder = preprocessing.LabelEncoder()
df['temp_condition'] = label_encoder.fit_transform(df['temp_condition'])
df

        fridge_temperature  temp_condition  label
0                 1.642293               1      0
1                 0.414644               1      0
2                -1.419933               4      0
3                -0.647480               4      0
4                 0.980190               1      0
...                    ...             ...    ...
587071           -0.868180               3      0
587072           -0.302634               0      0
587073            1.559530               0      0
587074           -0.178490               0      0
587075           -0.509541               3      0

[587076 rows x 3 columns]

In [12]:
df.isnull().sum()

fridge_temperature    0
temp_condition        0
label                 0
dtype: int64

In [13]:
target.unique()

array(['normal', 'backdoor', 'ddos', 'injection', 'password',
       'ransomware', 'xss'], dtype=object)

In [14]:
target = label_encoder.fit_transform(target)

In [15]:
target = pd.DataFrame(target)
target

        0
0       3
1       3
2       3
3       3
4       3
...    ..
587071  3
587072  3
587073  3
587074  3
587075  3

[587076 rows x 1 columns]

In [16]:
def lr(x, y):
    x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.3, random_state = 43)
    model_lr = LogisticRegression()
    model_lr.fit(x_train, y_train)
    preds = model_lr.predict(x_test)
    return accuracy_score(y_test, preds)

In [17]:
def dtc(x, y):
    x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.3, random_state = 43)
    model_dtc = DecisionTreeClassifier()   
    model_dtc.fit(x_train, y_train)
    preds = model_dtc.predict(x_test)
    return accuracy_score(y_test, preds)

In [18]:
def rfc(x, y):
    x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.3, random_state = 43)
    model_rfc = RandomForestClassifier()    
    model_rfc.fit(x_train, y_train)
    preds = model_rfc.predict(x_test)
    return accuracy_score(y_test, preds)

In [19]:
def knn(x, y):
    x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.3, random_state = 43)
    model_knn = KNeighborsClassifier()
    model_knn.fit(x_train, y_train)
    preds = model_knn.predict(x_test)
    return accuracy_score(y_test, preds)

In [20]:
def svm(x, y):
    x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.3, random_state = 43)
    model_svm = SVC(kernel = 'sigmoid')
    model_svm.fit(x_train, y_train) 
    preds = model_svm.predict(x_test)
    return accuracy_score(y_test, preds)

In [21]:
def nb(x, y):
    x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.3, random_state = 43)
    model_nb = GaussianNB()
    model_nb.fit(x_train, y_train)
    preds = model_nb.predict(x_test)
    return accuracy_score(y_test, preds)

In [22]:
def xgbb(x, y):
    x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.3, random_state = 43)
    model_xgb = xgb.XGBClassifier()
    model_xgb.fit(x_train, y_train)
    preds = model_xgb.predict(x_test)
    return accuracy_score(y_test, preds)

In [23]:
def adb(x, y):
    x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.3, random_state = 43)
    model_adb = AdaBoostClassifier()
    model_adb.fit(x_train, y_train)
    preds = model_adb.predict(x_test)
    return accuracy_score(y_test, preds)

In [24]:
def mlp(x, y):
    x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.3, random_state = 43)
    model_mlp = MLPClassifier()    
    model_mlp.fit(x_train, y_train)
    preds = model_mlp.predict(x_test)
    return accuracy_score(y_test, preds)

In [25]:
def gb(x, y):
    x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.3, random_state = 43)
    model_mlp = GradientBoostingClassifier() 
    model_mlp.fit(x_train, y_train)
    preds = model_mlp.predict(x_test)
    return accuracy_score(y_test, preds)

In [26]:
x = df
y = target[0]

In [27]:
x.columns = x.columns.astype('str')

In [28]:
#without feature selection


print('lr - ', lr(x, y))
print('dtc - ', dtc(x, y))
print('rfc - ', rfc(x, y))
print('knn - ', knn(x, y))
# print('svm - ', svm(x, y))
print('Naive Bayes - ', nb(x, y))
print('XGB - ', xgbb(x, y))
print('ADB - ', adb(x, y))
print('MLP - ', mlp(x, y))
print('GB - ', gb(x, y))

C:\Users\serev\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

lr -  0.9127257655161449
dtc -  0.9123907723579544
rfc -  0.9123907723579544
knn -  0.9056454863930321
Naive Bayes -  0.9127257655161449
XGB -  0.9123907723579544
ADB -  0.9127257655161449
MLP -  0.9127257655161449
GB -  0.9127257655161449

In [29]:
def ica(x, i):
    ica = FastICA(n_components = i, random_state = 42)
    data_ica = ica.fit_transform(x)
    data_ica = pd.DataFrame(data_ica)
    return data_ica

In [30]:
def pca(x, i):
    pca = decomposition.PCA(n_components = i, random_state=42)
    data_pca = pca.fit_transform(x)
    data_pca = pd.DataFrame(data_pca)
    return data_pca

In [46]:
def mi(x, y):
    mi = sp(percentile = 90)
    data_mi = mi.fit(x, y)
    data_mi = mi.transform(x)
    data_mi = pd.DataFrame(data_mi)
    return data_mi

In [32]:
def smf(x, y):
    lasso_model = Lasso(alpha = 0.1)
    selector = SelectFromModel(lasso_model)
    X_selected = selector.fit_transform(x, y)
    selected_features_indices = selector.get_support(indices=True)
    selected_features_names = x.columns[selected_features_indices]
    return x[selected_features_names]

In [33]:
def sfs(x, y, model):
    sfs_selector = SequentialFeatureSelector(model, forward = True, k_features = 6)
    X_selected = sfs_selector.fit_transform(x, y)
    selected_features_names = list(x.columns[sfs_selector.k_feature_idx_])
    return x[selected_features_names]

In [34]:
def rfe(x, y, model):
    rfecv_selector = RFECV(estimator = model, step = 1, cv = 5, scoring = 'accuracy')
    X_selected = rfecv_selector.fit_transform(x, y)
    selected_features_names = list(x.columns[rfecv_selector.support_])
    return x[selected_features_names]

In [35]:
def cfs(x):
    corr_matrix = x.corr()
    high_corr_features = []
    
    for i in range(len(corr_matrix.columns)):
        for j in range(i):
            if abs(corr_matrix.iloc[i, j]) > 0.8:
                colname = corr_matrix.columns[i]
                high_corr_features.append(colname)

    return x.drop(high_corr_features, axis=1)

In [36]:
def fir(x, y):
    rfc = RandomForestClassifier(n_estimators=100)
    rfc.fit(x, y)
    feature_importances = list(zip(x.columns, rfc.feature_importances_))
    a = sorted(feature_importances, key=lambda x: x[1], reverse=True)
    ls = []
    for i in a[:len(a)//2 + 1]: ls.append(i[0])
    return x[ls]

In [37]:
data_ica = ica(x, len(x.columns) // 2)

C:\Users\serev\anaconda3\lib\site-packages\sklearn\decomposition\_fastica.py:542: FutureWarning: Starting in v1.3, whiten='unit-variance' will be used by default.
  warnings.warn(

In [38]:
data_pca = pca(x, len(x.columns) // 2)

In [47]:
data_mi = mi(x, y)

C:\Users\serev\anaconda3\lib\site-packages\sklearn\feature_selection\_univariate_selection.py:113: RuntimeWarning: divide by zero encountered in true_divide
  f = msb / msw

In [40]:
data_smf = smf(x, y)

In [41]:
data_cfs = cfs(x)

In [42]:
data_fir = fir(x, y)

In [43]:
#with feature selection ica


print('lr - ', lr(data_ica, y))
print('dtc - ', dtc(data_ica, y))
print('rfc - ', rfc(data_ica, y))
print('knn - ', knn(data_ica, y))
# print('svm - ', svm(data_ica, y))
print('Naive Bayes - ', nb(data_ica, y))
print('XGB - ', xgbb(data_ica, y))
print('ADB - ', adb(data_ica, y))
print('MLP - ', mlp(data_ica, y))
print('GB - ', gb(data_ica, y))

lr -  0.8530118156061389
dtc -  0.8816849588071972
rfc -  0.8816963145074749
knn -  0.904106789005411
Naive Bayes -  0.8530118156061389
XGB -  0.9087626261192462
ADB -  0.8612674097079882
MLP -  0.8530118156061389
GB -  0.8656677435655763

In [44]:
#with feature selection pca


print('lr - ', lr(data_pca, y))
print('dtc - ', dtc(data_pca, y))
print('rfc - ', rfc(data_pca, y))
print('knn - ', knn(data_pca, y))
# print('svm - ', svm(data_pca, y))
print('Naive Bayes - ', nb(data_pca, y))
print('XGB - ', xgbb(data_pca, y))
print('ADB - ', adb(data_pca, y))
print('MLP - ', mlp(data_pca, y))
print('GB - ', gb(data_pca, y))

lr -  0.8530118156061389
dtc -  0.9123907723579544
rfc -  0.9123283160064273
knn -  0.904106789005411
Naive Bayes -  0.8530118156061389
XGB -  0.9087626261192462
ADB -  0.8616137585664564
MLP -  0.8530118156061389
GB -  0.8668657699448681

In [48]:
#with feature selection mi


print('lr - ', lr(data_mi, y))
print('dtc - ', dtc(data_mi, y))
print('rfc - ', rfc(data_mi, y))
print('knn - ', knn(data_mi, y))
# print('svm - ', svm(data_mi, y))
print('Naive Bayes - ', nb(data_mi, y))
print('XGB - ', xgbb(data_mi, y))
print('ADB - ', adb(data_mi, y))
print('MLP - ', mlp(data_mi, y))
print('GB - ', gb(data_mi, y))

C:\Users\serev\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

lr -  0.9127257655161449
dtc -  0.9127257655161449
rfc -  0.9127257655161449
knn -  0.9127257655161449
Naive Bayes -  0.9127257655161449
XGB -  0.9127257655161449
ADB -  0.9127257655161449
MLP -  0.9127257655161449
GB -  0.9127257655161449

In [49]:
#with feature selection smf


print('lr - ', lr(data_smf, y))
print('dtc - ', dtc(data_smf, y))
print('rfc - ', rfc(data_smf, y))
print('knn - ', knn(data_smf, y))
# print('svm - ', svm(data_smf, y))
print('Naive Bayes - ', nb(data_smf, y))
print('XGB - ', xgbb(data_smf, y))
print('ADB - ', adb(data_smf, y))
print('MLP - ', mlp(data_smf, y))
print('GB - ', gb(data_smf, y))

C:\Users\serev\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

lr -  0.9127257655161449
dtc -  0.9127257655161449
rfc -  0.9127257655161449
knn -  0.9127257655161449
Naive Bayes -  0.9127257655161449
XGB -  0.9127257655161449
ADB -  0.9127257655161449
MLP -  0.9127257655161449
GB -  0.9127257655161449

In [50]:
# #with feature selection sfs


# print('lr - ', lr(sfs(x, y, LogisticRegression()), y))
# print('dtc - ', dtc(sfs(x, y, DecisionTreeClassifier()), y))
# print('rfc - ', rfc(sfs(x, y, RandomForestClassifier()), y))
# print('knn - ', knn(sfs(x, y, KNeighborsClassifier()), y))
# # print('svm - ', svm(sfs(x, y, SVC(kernel = 'sigmoid')), y))
# print('Naive Bayes - ', nb(sfs(x, y, GaussianNB()), y))
# print('XGB - ', xgbb(sfs(x, y, xgb.XGBClassifier()), y))
# print('ADB - ', adb(sfs(x, y, AdaBoostClassifier()), y))
# print('MLP - ', mlp(sfs(x, y, MLPClassifier()), y))
# print('GB - ', gb(sfs(x, y, GradientBoostingClassifier()), y))

In [51]:
# #with feature selection rfe


# print('lr - ', lr(rfe(x, y, LogisticRegression()), y))
# print('dtc - ', dtc(rfe(x, y, DecisionTreeClassifier()), y))
# print('rfc - ', rfc(rfe(x, y, RandomForestClassifier()), y))
# print('knn - ', knn(rfe(x, y, KNeighborsClassifier()), y))
# # print('svm - ', svm(rfe(x, y, SVC(kernel = 'sigmoid')), y))
# print('Naive Bayes - ', nb(rfe(x, y, GaussianNB()), y))
# print('XGB - ', xgbb(rfe(x, y, xgb.XGBClassifier()), y))
# print('ADB - ', adb(rfe(x, y, AdaBoostClassifier()), y))
# print('MLP - ', mlp(rfe(x, y, MLPClassifier()), y))
# print('GB - ', gb(rfe(x, y, GradientBoostingClassifier()), y))

In [52]:
#with feature selection csf


print('lr - ', lr(data_cfs, y))
print('dtc - ', dtc(data_cfs, y))
print('rfc - ', rfc(data_cfs, y))
print('knn - ', knn(data_cfs, y))
# print('svm - ', svm(data_cfs, y))
print('Naive Bayes - ', nb(data_cfs, y))
print('XGB - ', xgbb(data_cfs, y))
print('ADB - ', adb(data_cfs, y))
print('MLP - ', mlp(data_cfs, y))
print('GB - ', gb(data_cfs, y))

C:\Users\serev\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

lr -  0.9127257655161449
dtc -  0.9123907723579544
rfc -  0.9121920476030956
knn -  0.9056454863930321
Naive Bayes -  0.9127257655161449
XGB -  0.9123907723579544
ADB -  0.9127257655161449
MLP -  0.9127257655161449
GB -  0.9127257655161449

In [53]:
#with feature selection fir


print('lr - ', lr(data_fir, y))
print('dtc - ', dtc(data_fir, y))
print('rfc - ', rfc(data_fir, y))
print('knn - ', knn(data_fir, y))
# print('svm - ', svm(data_fir, y))
print('Naive Bayes - ', nb(data_fir, y))
print('XGB - ', xgbb(data_fir, y))
print('ADB - ', adb(data_fir, y))
print('MLP - ', mlp(data_fir, y))
print('GB - ', gb(data_fir, y))

C:\Users\serev\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

lr -  0.9127257655161449
dtc -  0.9127257655161449
rfc -  0.9127257655161449
knn -  0.9127257655161449
Naive Bayes -  0.9127257655161449
XGB -  0.9127257655161449
ADB -  0.9127257655161449
MLP -  0.9127257655161449
GB -  0.9127257655161449