In [1]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import OneHotEncoder
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn import preprocessing
from sklearn.metrics import accuracy_score
from sklearn.neighbors import KNeighborsClassifier
from collections import Counter
import matplotlib.pyplot as plt
from sklearn.svm import SVC  
from sklearn.naive_bayes import GaussianNB
from sklearn.tree import DecisionTreeClassifier
import xgboost as xgb
from xgboost.sklearn import XGBClassifier
from sklearn.neural_network import MLPClassifier
from sklearn.decomposition import FastICA
from sklearn.ensemble import AdaBoostClassifier
from sklearn.ensemble import GradientBoostingClassifier
from sklearn import decomposition
from sklearn.feature_selection import SelectPercentile as sp
from sklearn.feature_selection import SelectFromModel
from sklearn.linear_model import Lasso
from mlxtend.feature_selection import SequentialFeatureSelector
from sklearn.feature_selection import RFECV

In [2]:
df = pd.read_csv('IoT_Weather.csv')

In [3]:
df.head()

        date      time  temperature  pressure   humidity  label    type
0  31-Mar-19  12:36:52    31.788508     1.035  32.036579      0  normal
1  31-Mar-19  12:36:53    41.630997     1.035  30.886165      0  normal
2  31-Mar-19  12:36:54    42.256959     1.035  19.755908      0  normal
3  31-Mar-19  12:36:55    49.116581     1.035  78.949621      0  normal
4  31-Mar-19  12:36:56    24.017085     1.035  40.001059      0  normal

In [4]:
df = df.drop(['date', 'time'], axis = 1)
df

        temperature  pressure   humidity  label    type
0         31.788508  1.035000  32.036579      0  normal
1         41.630997  1.035000  30.886165      0  normal
2         42.256959  1.035000  19.755908      0  normal
3         49.116581  1.035000  78.949621      0  normal
4         24.017085  1.035000  40.001059      0  normal
...             ...       ...        ...    ...     ...
650237    40.384291  9.049059  93.094490      0  normal
650238    47.240113 -5.782022  28.146511      0  normal
650239    23.540606  0.913648  30.478316      0  normal
650240    46.016150  3.493588  73.328413      0  normal
650241    48.082975  0.100271  20.949148      0  normal

[650242 rows x 5 columns]

In [5]:
df.isnull().sum()

temperature    0
pressure       0
humidity       0
label          0
type           0
dtype: int64

In [6]:
target = df.loc[:, ('type')]

In [7]:
df = df.drop('type', axis = 1)
df

        temperature  pressure   humidity  label
0         31.788508  1.035000  32.036579      0
1         41.630997  1.035000  30.886165      0
2         42.256959  1.035000  19.755908      0
3         49.116581  1.035000  78.949621      0
4         24.017085  1.035000  40.001059      0
...             ...       ...        ...    ...
650237    40.384291  9.049059  93.094490      0
650238    47.240113 -5.782022  28.146511      0
650239    23.540606  0.913648  30.478316      0
650240    46.016150  3.493588  73.328413      0
650241    48.082975  0.100271  20.949148      0

[650242 rows x 4 columns]

In [10]:
cat = []
for i in df.columns:
    if len(df[i].unique()) <= 20: cat.append(i)
df_cat = df[cat]
df_cat

        label
0           0
1           0
2           0
3           0
4           0
...       ...
650237      0
650238      0
650239      0
650240      0
650241      0

[650242 rows x 1 columns]

In [11]:
df_temp = df.drop(cat, axis = 1)
df_temp

        temperature  pressure   humidity
0         31.788508  1.035000  32.036579
1         41.630997  1.035000  30.886165
2         42.256959  1.035000  19.755908
3         49.116581  1.035000  78.949621
4         24.017085  1.035000  40.001059
...             ...       ...        ...
650237    40.384291  9.049059  93.094490
650238    47.240113 -5.782022  28.146511
650239    23.540606  0.913648  30.478316
650240    46.016150  3.493588  73.328413
650241    48.082975  0.100271  20.949148

[650242 rows x 3 columns]

In [12]:
scaler = StandardScaler()
df[df_temp.columns] = scaler.fit_transform(df[df_temp.columns])
df

        temperature  pressure  humidity  label
0         -0.523255 -0.123218 -0.725075      0
1          0.679995 -0.123218 -0.767627      0
2          0.756519 -0.123218 -1.179319      0
3          1.595113 -0.123218  1.010168      0
4         -1.473317 -0.123218 -0.430481      0
...             ...       ...       ...    ...
650237     0.527585  0.885440  1.533366      0
650238     1.365713 -0.981216 -0.868963      0
650239    -1.531567 -0.138492 -0.782713      0
650240     1.216083  0.186222  0.802248      0
650241     1.468754 -0.240864 -1.135183      0

[650242 rows x 4 columns]

In [13]:
df.isnull().sum()

temperature    0
pressure       0
humidity       0
label          0
dtype: int64

In [14]:
target.unique()

array(['normal', 'backdoor', 'ddos', 'injection', 'password',
       'ransomware', 'scanning', 'xss'], dtype=object)

In [15]:
label_encoder = preprocessing.LabelEncoder()
target = label_encoder.fit_transform(target)

In [16]:
target = pd.DataFrame(target)
target

        0
0       3
1       3
2       3
3       3
4       3
...    ..
650237  3
650238  3
650239  3
650240  3
650241  3

[650242 rows x 1 columns]

In [17]:
def lr(x, y):
    x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.3, random_state = 43)
    model_lr = LogisticRegression()
    model_lr.fit(x_train, y_train)
    preds = model_lr.predict(x_test)
    return accuracy_score(y_test, preds)

In [18]:
def dtc(x, y):
    x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.3, random_state = 43)
    model_dtc = DecisionTreeClassifier()   
    model_dtc.fit(x_train, y_train)
    preds = model_dtc.predict(x_test)
    return accuracy_score(y_test, preds)

In [19]:
def rfc(x, y):
    x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.3, random_state = 43)
    model_rfc = RandomForestClassifier()    
    model_rfc.fit(x_train, y_train)
    preds = model_rfc.predict(x_test)
    return accuracy_score(y_test, preds)

In [20]:
def knn(x, y):
    x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.3, random_state = 43)
    model_knn = KNeighborsClassifier()
    model_knn.fit(x_train, y_train)
    preds = model_knn.predict(x_test)
    return accuracy_score(y_test, preds)

In [21]:
def svm(x, y):
    x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.3, random_state = 43)
    model_svm = SVC(kernel = 'sigmoid')
    model_svm.fit(x_train, y_train) 
    preds = model_svm.predict(x_test)
    return accuracy_score(y_test, preds)

In [22]:
def nb(x, y):
    x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.3, random_state = 43)
    model_nb = GaussianNB()
    model_nb.fit(x_train, y_train)
    preds = model_nb.predict(x_test)
    return accuracy_score(y_test, preds)

In [23]:
def xgbb(x, y):
    x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.3, random_state = 43)
    model_xgb = xgb.XGBClassifier()
    model_xgb.fit(x_train, y_train)
    preds = model_xgb.predict(x_test)
    return accuracy_score(y_test, preds)

In [24]:
def adb(x, y):
    x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.3, random_state = 43)
    model_adb = AdaBoostClassifier()
    model_adb.fit(x_train, y_train)
    preds = model_adb.predict(x_test)
    return accuracy_score(y_test, preds)

In [25]:
def mlp(x, y):
    x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.3, random_state = 43)
    model_mlp = MLPClassifier()    
    model_mlp.fit(x_train, y_train)
    preds = model_mlp.predict(x_test)
    return accuracy_score(y_test, preds)

In [26]:
def gb(x, y):
    x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.3, random_state = 43)
    model_mlp = GradientBoostingClassifier() 
    model_mlp.fit(x_train, y_train)
    preds = model_mlp.predict(x_test)
    return accuracy_score(y_test, preds)

In [27]:
x = df
y = target[0]

In [28]:
x.columns = x.columns.astype('str')

In [29]:
#without feature selection


print('lr - ', lr(x, y))
print('dtc - ', dtc(x, y))
print('rfc - ', rfc(x, y))
print('knn - ', knn(x, y))
# print('svm - ', svm(x, y))
print('Naive Bayes - ', nb(x, y))
print('XGB - ', xgbb(x, y))
print('ADB - ', adb(x, y))
print('MLP - ', mlp(x, y))
print('GB - ', gb(x, y))

C:\Users\serev\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

lr -  0.9199017803591476
dtc -  0.9920491303255704
rfc -  0.9960732648803269
knn -  0.9847646778385527
Naive Bayes -  0.9191943528832796
XGB -  0.9833395703147026
ADB -  0.8832385824793795
MLP -  0.9620962408944344
GB -  0.952099983083256

In [30]:
def ica(x, i):
    ica = FastICA(n_components = i, random_state = 42)
    data_ica = ica.fit_transform(x)
    data_ica = pd.DataFrame(data_ica)
    return data_ica

In [31]:
def pca(x, i):
    pca = decomposition.PCA(n_components = i, random_state=42)
    data_pca = pca.fit_transform(x)
    data_pca = pd.DataFrame(data_pca)
    return data_pca

In [32]:
def mi(x, y):
    mi = sp(percentile = 50)
    data_mi = mi.fit(x, y)
    data_mi = mi.transform(x)
    data_mi = pd.DataFrame(data_mi)
    return data_mi

In [33]:
def smf(x, y):
    lasso_model = Lasso(alpha = 0.1)
    selector = SelectFromModel(lasso_model)
    X_selected = selector.fit_transform(x, y)
    selected_features_indices = selector.get_support(indices=True)
    selected_features_names = x.columns[selected_features_indices]
    return x[selected_features_names]

In [34]:
def sfs(x, y, model):
    sfs_selector = SequentialFeatureSelector(model, forward = True, k_features = 6)
    X_selected = sfs_selector.fit_transform(x, y)
    selected_features_names = list(x.columns[sfs_selector.k_feature_idx_])
    return x[selected_features_names]

In [36]:
def rfe(x, y, model):
    rfecv_selector = RFECV(estimator = model, step = 1, cv = 5, scoring = 'accuracy')
    X_selected = rfecv_selector.fit_transform(x, y)
    selected_features_names = list(x.columns[rfecv_selector.support_])
    return x[selected_features_names]

In [37]:
def cfs(x):
    corr_matrix = x.corr()
    high_corr_features = []
    
    for i in range(len(corr_matrix.columns)):
        for j in range(i):
            if abs(corr_matrix.iloc[i, j]) > 0.8:
                colname = corr_matrix.columns[i]
                high_corr_features.append(colname)

    return x.drop(high_corr_features, axis=1)

In [38]:
def fir(x, y):
    rfc = RandomForestClassifier(n_estimators=100)
    rfc.fit(x, y)
    feature_importances = list(zip(x.columns, rfc.feature_importances_))
    a = sorted(feature_importances, key=lambda x: x[1], reverse=True)
    ls = []
    for i in a[:len(a)//2 + 1]: ls.append(i[0])
    return x[ls]

In [39]:
data_ica = ica(x, len(x.columns) // 2)

C:\Users\serev\anaconda3\lib\site-packages\sklearn\decomposition\_fastica.py:542: FutureWarning: Starting in v1.3, whiten='unit-variance' will be used by default.
  warnings.warn(

In [40]:
data_pca = pca(x, len(x.columns) // 2)

In [41]:
data_mi = mi(x, y)

C:\Users\serev\anaconda3\lib\site-packages\sklearn\feature_selection\_univariate_selection.py:113: RuntimeWarning: divide by zero encountered in true_divide
  f = msb / msw

In [42]:
data_smf = smf(x, y)

In [43]:
data_cfs = cfs(x)

In [44]:
data_fir = fir(x, y)

In [45]:
#with feature selection ica


print('lr - ', lr(data_ica, y))
print('dtc - ', dtc(data_ica, y))
print('rfc - ', rfc(data_ica, y))
print('knn - ', knn(data_ica, y))
# print('svm - ', svm(data_ica, y))
print('Naive Bayes - ', nb(data_ica, y))
print('XGB - ', xgbb(data_ica, y))
print('ADB - ', adb(data_ica, y))
print('MLP - ', mlp(data_ica, y))
print('GB - ', gb(data_ica, y))

lr -  0.8609956272779934
dtc -  0.7945897176954269
rfc -  0.8631640462801106
knn -  0.849569135656908
Naive Bayes -  0.8609956272779934
XGB -  0.8636151594531278
ADB -  0.8609956272779934
MLP -  0.8609956272779934
GB -  0.8624873765205846

In [46]:
#with feature selection pca


print('lr - ', lr(data_pca, y))
print('dtc - ', dtc(data_pca, y))
print('rfc - ', rfc(data_pca, y))
print('knn - ', knn(data_pca, y))
# print('svm - ', svm(data_pca, y))
print('Naive Bayes - ', nb(data_pca, y))
print('XGB - ', xgbb(data_pca, y))
print('ADB - ', adb(data_pca, y))
print('MLP - ', mlp(data_pca, y))
print('GB - ', gb(data_pca, y))

lr -  0.8609956272779934
dtc -  0.7989368082717752
rfc -  0.8636202857391848
knn -  0.8495127465102807
Naive Bayes -  0.8609956272779934
XGB -  0.8638612211838645
ADB -  0.5229837035366247
MLP -  0.8622618199340759
GB -  0.8582581905235476

In [47]:
#with feature selection mi


print('lr - ', lr(data_mi, y))
print('dtc - ', dtc(data_mi, y))
print('rfc - ', rfc(data_mi, y))
print('knn - ', knn(data_mi, y))
# print('svm - ', svm(data_mi, y))
print('Naive Bayes - ', nb(data_mi, y))
print('XGB - ', xgbb(data_mi, y))
print('ADB - ', adb(data_mi, y))
print('MLP - ', mlp(data_mi, y))
print('GB - ', gb(data_mi, y))

C:\Users\serev\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

lr -  0.9157751200832509
dtc -  0.9920440040395134
rfc -  0.9920286251813424
knn -  0.9736047530924321
Naive Bayes -  0.9156930995063387
XGB -  0.9397200022555658
ADB -  0.9148523885929882
MLP -  0.917559067631092
GB -  0.9228545211279879

In [48]:
#with feature selection smf


print('lr - ', lr(data_smf, y))
print('dtc - ', dtc(data_smf, y))
print('rfc - ', rfc(data_smf, y))
print('knn - ', knn(data_smf, y))
# print('svm - ', svm(data_smf, y))
print('Naive Bayes - ', nb(data_smf, y))
print('XGB - ', xgbb(data_smf, y))
print('ADB - ', adb(data_smf, y))
print('MLP - ', mlp(data_smf, y))
print('GB - ', gb(data_smf, y))

lr -  0.9157751200832509
dtc -  0.9157751200832509
rfc -  0.9157751200832509
knn -  0.9157751200832509
Naive Bayes -  0.9157751200832509
XGB -  0.9157751200832509
ADB -  0.9157751200832509
MLP -  0.9157751200832509
GB -  0.9157751200832509

In [ ]:
#with feature selection sfs


print('lr - ', lr(sfs(x, y, LogisticRegression()), y))
print('dtc - ', dtc(sfs(x, y, DecisionTreeClassifier()), y))
print('rfc - ', rfc(sfs(x, y, RandomForestClassifier()), y))
print('knn - ', knn(sfs(x, y, KNeighborsClassifier()), y))
# print('svm - ', svm(sfs(x, y, SVC(kernel = 'sigmoid')), y))
print('Naive Bayes - ', nb(sfs(x, y, GaussianNB()), y))
print('XGB - ', xgbb(sfs(x, y, xgb.XGBClassifier()), y))
print('ADB - ', adb(sfs(x, y, AdaBoostClassifier()), y))
print('MLP - ', mlp(sfs(x, y, MLPClassifier()), y))
print('GB - ', gb(sfs(x, y, GradientBoostingClassifier()), y))

In [ ]:
#with feature selection rfe


print('lr - ', lr(rfe(x, y, LogisticRegression()), y))
print('dtc - ', dtc(rfe(x, y, DecisionTreeClassifier()), y))
print('rfc - ', rfc(rfe(x, y, RandomForestClassifier()), y))
print('knn - ', knn(rfe(x, y, KNeighborsClassifier()), y))
# print('svm - ', svm(rfe(x, y, SVC(kernel = 'sigmoid')), y))
print('Naive Bayes - ', nb(rfe(x, y, GaussianNB()), y))
print('XGB - ', xgbb(rfe(x, y, xgb.XGBClassifier()), y))
print('ADB - ', adb(rfe(x, y, AdaBoostClassifier()), y))
print('MLP - ', mlp(rfe(x, y, MLPClassifier()), y))
print('GB - ', gb(rfe(x, y, GradientBoostingClassifier()), y))

In [49]:
#with feature selection csf


print('lr - ', lr(data_cfs, y))
print('dtc - ', dtc(data_cfs, y))
print('rfc - ', rfc(data_cfs, y))
print('knn - ', knn(data_cfs, y))
# print('svm - ', svm(data_cfs, y))
print('Naive Bayes - ', nb(data_cfs, y))
print('XGB - ', xgbb(data_cfs, y))
print('ADB - ', adb(data_cfs, y))
print('MLP - ', mlp(data_cfs, y))
print('GB - ', gb(data_cfs, y))

C:\Users\serev\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

lr -  0.9199017803591476
dtc -  0.9920029937510573
rfc -  0.996109148882726
knn -  0.9847646778385527
Naive Bayes -  0.9191943528832796
XGB -  0.9833395703147026
ADB -  0.8832385824793795
MLP -  0.9603276722047643
GB -  0.952099983083256

In [50]:
#with feature selection fir


print('lr - ', lr(data_fir, y))
print('dtc - ', dtc(data_fir, y))
print('rfc - ', rfc(data_fir, y))
print('knn - ', knn(data_fir, y))
# print('svm - ', svm(data_fir, y))
print('Naive Bayes - ', nb(data_fir, y))
print('XGB - ', xgbb(data_fir, y))
print('ADB - ', adb(data_fir, y))
print('MLP - ', mlp(data_fir, y))
print('GB - ', gb(data_fir, y))

C:\Users\serev\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

lr -  0.9176974773546314
dtc -  0.9921772874769957
rfc -  0.9926386532221271
knn -  0.9715183546672271
Naive Bayes -  0.9170361864532764
XGB -  0.9659153240069103
ADB -  0.8881700696662275
MLP -  0.9374593101044224
GB -  0.9389151753446145