In [1]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import OneHotEncoder
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn import preprocessing
from sklearn.metrics import accuracy_score
from sklearn.neighbors import KNeighborsClassifier
from collections import Counter
import matplotlib.pyplot as plt
from sklearn.svm import SVC  
from sklearn.naive_bayes import GaussianNB
from sklearn.tree import DecisionTreeClassifier
import xgboost as xgb
from xgboost.sklearn import XGBClassifier
from sklearn.neural_network import MLPClassifier
from sklearn.decomposition import FastICA
from sklearn.ensemble import AdaBoostClassifier
from sklearn.ensemble import GradientBoostingClassifier
from sklearn import decomposition
from sklearn.feature_selection import SelectPercentile as sp
from sklearn.feature_selection import SelectFromModel
from sklearn.linear_model import Lasso
from mlxtend.feature_selection import SequentialFeatureSelector
from sklearn.feature_selection import RFECV

In [2]:
df = pd.read_csv('linux_disk_2.csv')

C:\Users\serev\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (4,5) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [3]:
df.head()

           ts   PID  RDDSK  WRDSK WCANCL  DSK            CMD  label    type
0  1556794033  2359    0.0    0.0      0  0.0       vmtoolsd      0  normal
1  1556794038  1679    0.0    0.0      0  0.0    packagekitd      0  normal
2  1556794043  2270    0.0    0.0      0  0.0  gsd-xsettings      0  normal
3  1556794048  1270    0.0    0.0      0  0.0        apache2      0  normal
4  1556794053  3180    0.0    0.0      0  0.0       sd_dummy      0  normal

In [4]:
df = df.drop(['ts', 'PID', 'CMD'], axis = 1)
df

        RDDSK  WRDSK WCANCL  DSK  label    type
0         0.0    0.0      0  0.0      0  normal
1         0.0    0.0      0  0.0      0  normal
2         0.0    0.0      0  0.0      0  normal
3         0.0    0.0      0  0.0      0  normal
4         0.0    0.0      0  0.0      0  normal
...       ...    ...    ...  ...    ...     ...
927356    0.0    0.0      0  0.0      0  normal
927357    0.0    0.0      0  0.0      0  normal
927358    0.0    0.0      0  0.0      0  normal
927359    0.0    0.0      0  0.0      0  normal
927360    0.0    0.0      0  0.0      0  normal

[927361 rows x 6 columns]

In [5]:
df.isnull().sum()

RDDSK     0
WRDSK     0
WCANCL    0
DSK       0
label     0
type      0
dtype: int64

In [6]:
target = df.loc[:, ('type')]

In [7]:
df = df.drop('type', axis = 1)
df

        RDDSK  WRDSK WCANCL  DSK  label
0         0.0    0.0      0  0.0      0
1         0.0    0.0      0  0.0      0
2         0.0    0.0      0  0.0      0
3         0.0    0.0      0  0.0      0
4         0.0    0.0      0  0.0      0
...       ...    ...    ...  ...    ...
927356    0.0    0.0      0  0.0      0
927357    0.0    0.0      0  0.0      0
927358    0.0    0.0      0  0.0      0
927359    0.0    0.0      0  0.0      0
927360    0.0    0.0      0  0.0      0

[927361 rows x 5 columns]

In [8]:
cat = []
for i in df.columns:
    if len(df[i].unique()) <= 328: cat.append(i)
df_cat = df[cat]
df_cat

       WCANCL  DSK  label
0           0  0.0      0
1           0  0.0      0
2           0  0.0      0
3           0  0.0      0
4           0  0.0      0
...       ...  ...    ...
927356      0  0.0      0
927357      0  0.0      0
927358      0  0.0      0
927359      0  0.0      0
927360      0  0.0      0

[927361 rows x 3 columns]

In [9]:
df['WCANCL'] = df['WCANCL'].str.replace('%','')
df['DSK'] = df['DSK'].str.replace('%','')

In [10]:
df_temp = df.drop(df_cat, axis = 1)

In [11]:
scaler = StandardScaler()
df[df_temp.columns] = scaler.fit_transform(df[df_temp.columns])

In [12]:
df

          RDDSK     WRDSK WCANCL  DSK  label
0      -0.01776 -0.128184    NaN  NaN      0
1      -0.01776 -0.128184    NaN  NaN      0
2      -0.01776 -0.128184    NaN  NaN      0
3      -0.01776 -0.128184    NaN  NaN      0
4      -0.01776 -0.128184    NaN  NaN      0
...         ...       ...    ...  ...    ...
927356 -0.01776 -0.128184    NaN  NaN      0
927357 -0.01776 -0.128184    NaN  NaN      0
927358 -0.01776 -0.128184    NaN  NaN      0
927359 -0.01776 -0.128184    NaN  NaN      0
927360 -0.01776 -0.128184    NaN  NaN      0

[927361 rows x 5 columns]

In [13]:
def lr(x, y):
    x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.3, random_state = 43)
    model_lr = LogisticRegression()
    model_lr.fit(x_train, y_train)
    preds = model_lr.predict(x_test)
    return accuracy_score(y_test, preds)

In [14]:
def dtc(x, y):
    x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.3, random_state = 43)
    model_dtc = DecisionTreeClassifier()   
    model_dtc.fit(x_train, y_train)
    preds = model_dtc.predict(x_test)
    return accuracy_score(y_test, preds)

In [15]:
def rfc(x, y):
    x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.3, random_state = 43)
    model_rfc = RandomForestClassifier()    
    model_rfc.fit(x_train, y_train)
    preds = model_rfc.predict(x_test)
    return accuracy_score(y_test, preds)

In [16]:
def knn(x, y):
    x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.3, random_state = 43)
    model_knn = KNeighborsClassifier()
    model_knn.fit(x_train, y_train)
    preds = model_knn.predict(x_test)
    return accuracy_score(y_test, preds)

In [17]:
def svm(x, y):
    x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.3, random_state = 43)
    model_svm = SVC(kernel = 'sigmoid')
    model_svm.fit(x_train, y_train) 
    preds = model_svm.predict(x_test)
    return accuracy_score(y_test, preds)

In [18]:
def nb(x, y):
    x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.3, random_state = 43)
    model_nb = GaussianNB()
    model_nb.fit(x_train, y_train)
    preds = model_nb.predict(x_test)
    return accuracy_score(y_test, preds)

In [19]:
def xgbb(x, y):
    x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.3, random_state = 43)
    model_xgb = xgb.XGBClassifier()
    model_xgb.fit(x_train, y_train)
    preds = model_xgb.predict(x_test)
    return accuracy_score(y_test, preds)

In [20]:
def adb(x, y):
    x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.3, random_state = 43)
    model_adb = AdaBoostClassifier()
    model_adb.fit(x_train, y_train)
    preds = model_adb.predict(x_test)
    return accuracy_score(y_test, preds)

In [21]:
def mlp(x, y):
    x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.3, random_state = 43)
    model_mlp = MLPClassifier()    
    model_mlp.fit(x_train, y_train)
    preds = model_mlp.predict(x_test)
    return accuracy_score(y_test, preds)

In [22]:
def gb(x, y):
    x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.3, random_state = 43)
    model_mlp = GradientBoostingClassifier() 
    model_mlp.fit(x_train, y_train)
    preds = model_mlp.predict(x_test)
    return accuracy_score(y_test, preds)

In [23]:
def converter(dataframe):
    for i in dataframe.columns:
        dataframe[i] = pd.to_numeric(dataframe[i])

In [24]:
converter(df)

ValueError: Unable to parse string "worer/u256:0" at position 741978

In [ ]:
label_encoder = preprocessing.LabelEncoder()
target = label_encoder.fit_transform(target)

In [ ]:
x = df
y = target

In [ ]:
x.columns = x.columns.astype('str')

In [ ]:
#without feature selection


print('lr - ', lr(x, y))
print('dtc - ', dtc(x, y))
print('rfc - ', rfc(x, y))
print('knn - ', knn(x, y))
# print('svm - ', svm(x, y))
print('Naive Bayes - ', nb(x, y))
print('XGB - ', xgbb(x, y))
print('ADB - ', adb(x, y))
print('MLP - ', mlp(x, y))
print('GB - ', gb(x, y))

In [ ]:
def ica(x, i):
    ica = FastICA(n_components = i, random_state = 42)
    data_ica = ica.fit_transform(x)
    data_ica = pd.DataFrame(data_ica)
    return data_ica

In [ ]:
def pca(x, i):
    pca = decomposition.PCA(n_components = i, random_state=42)
    data_pca = pca.fit_transform(x)
    data_pca = pd.DataFrame(data_pca)
    return data_pca

In [ ]:
def mi(x, y):
    mi = sp(percentile = 50)
    data_mi = mi.fit(x, y)
    data_mi = mi.transform(x)
    data_mi = pd.DataFrame(data_mi)
    return data_mi

In [ ]:
def smf(x, y):
    lasso_model = Lasso(alpha = 0.1)
    selector = SelectFromModel(lasso_model)
    X_selected = selector.fit_transform(x, y)
    selected_features_indices = selector.get_support(indices=True)
    selected_features_names = x.columns[selected_features_indices]
    return x[selected_features_names]

In [ ]:
def sfs(x, y, model):
    sfs_selector = SequentialFeatureSelector(model, forward = True, k_features = len(x.columns) // 2)
    X_selected = sfs_selector.fit_transform(x, y)
    selected_features_names = list(x.columns[sfs_selector.k_feature_idx_])
    return x[selected_features_names]

In [ ]:
def rfe(x, y, model):
    rfecv_selector = RFECV(estimator = model, step = 1, cv = 5, scoring = 'accuracy')
    X_selected = rfecv_selector.fit_transform(x, y)
    selected_features_names = list(x.columns[rfecv_selector.support_])
    return x[selected_features_names]

In [ ]:
def cfs(x):
    corr_matrix = x.corr()
    high_corr_features = []
    
    for i in range(len(corr_matrix.columns)):
        for j in range(i):
            if abs(corr_matrix.iloc[i, j]) > 0.8:
                colname = corr_matrix.columns[i]
                high_corr_features.append(colname)

    return x.drop(high_corr_features, axis=1)

In [ ]:
def fir(x, y):
    rfc = RandomForestClassifier(n_estimators=100)
    rfc.fit(x, y)
    feature_importances = list(zip(x.columns, rfc.feature_importances_))
    a = sorted(feature_importances, key=lambda x: x[1], reverse=True)
    ls = []
    for i in a[:len(a)//2 + 1]: ls.append(i[0])
    return x[ls]

In [ ]:
data_ica = ica(x, len(x.columns) // 2)

In [ ]:
data_pca = pca(x, len(x.columns) // 2)

In [ ]:
data_mi = mi(x, y)

In [ ]:
data_smf = smf(x, y)

In [ ]:
data_cfs = cfs(x)

In [ ]:
data_fir = fir(x, y)

In [ ]:
#with feature selection ica


print('lr - ', lr(data_ica, y))
print('dtc - ', dtc(data_ica, y))
print('rfc - ', rfc(data_ica, y))
print('knn - ', knn(data_ica, y))
# print('svm - ', svm(data_ica, y))
print('Naive Bayes - ', nb(data_ica, y))
print('XGB - ', xgbb(data_ica, y))
print('ADB - ', adb(data_ica, y))
print('MLP - ', mlp(data_ica, y))
print('GB - ', gb(data_ica, y))

In [ ]:
#with feature selection pca


print('lr - ', lr(data_pca, y))
print('dtc - ', dtc(data_pca, y))
print('rfc - ', rfc(data_pca, y))
print('knn - ', knn(data_pca, y))
# print('svm - ', svm(data_pca, y))
print('Naive Bayes - ', nb(data_pca, y))
print('XGB - ', xgbb(data_pca, y))
print('ADB - ', adb(data_pca, y))
print('MLP - ', mlp(data_pca, y))
print('GB - ', gb(data_pca, y))

In [ ]:
#with feature selection mi


print('lr - ', lr(data_mi, y))
print('dtc - ', dtc(data_mi, y))
print('rfc - ', rfc(data_mi, y))
print('knn - ', knn(data_mi, y))
# print('svm - ', svm(data_mi, y))
print('Naive Bayes - ', nb(data_mi, y))
print('XGB - ', xgbb(data_mi, y))
print('ADB - ', adb(data_mi, y))
print('MLP - ', mlp(data_mi, y))
print('GB - ', gb(data_mi, y))

In [ ]:
#with feature selection smf


print('lr - ', lr(data_smf, y))
print('dtc - ', dtc(data_smf, y))
print('rfc - ', rfc(data_smf, y))
print('knn - ', knn(data_smf, y))
# print('svm - ', svm(data_smf, y))
print('Naive Bayes - ', nb(data_smf, y))
print('XGB - ', xgbb(data_smf, y))
print('ADB - ', adb(data_smf, y))
print('MLP - ', mlp(data_smf, y))
print('GB - ', gb(data_smf, y))

In [ ]:
model_lr = LogisticRegression()
model_dtc = DecisionTreeClassifier()
model_rfc = RandomForestClassifier()
model_knn = KNeighborsClassifier()
model_svc = SVC(kernel = 'sigmoid')
model_nb = GaussianNB()
model_xgb = xgb.XGBClassifier()
model_adb = AdaBoostClassifier()
model_mlp = MLPClassifier()
model_gb = GradientBoostingClassifier()

In [ ]:
#with feature selection sfs


print('lr - ', lr(sfs(x, y, model_lr), y))
print('dtc - ', dtc(sfs(x, y, model_dtc), y))
print('rfc - ', rfc(sfs(x, y, model_rfc), y))
print('knn - ', knn(sfs(x, y, model_knn), y))
# print('svm - ', svm(sfs(x, y, model_svc), y))
print('Naive Bayes - ', nb(sfs(x, y, model_nb), y))
print('XGB - ', xgbb(sfs(x, y, model_xgb), y))
print('ADB - ', adb(sfs(x, y, model_adb), y))
print('MLP - ', mlp(sfs(x, y, model_mlp), y))
print('GB - ', gb(sfs(x, y, model_gb), y))

In [ ]:
#with feature selection rfe


print('lr - ', lr(rfe(x, y, model_lr), y))
print('dtc - ', dtc(rfe(x, y, model_dtc), y))
print('rfc - ', rfc(rfe(x, y, model_rfc), y))
print('knn - ', knn(rfe(x, y, model_knn), y))
# print('svm - ', svm(rfe(x, y, model_svc), y))
print('Naive Bayes - ', nb(rfe(x, y, model_nb), y))
print('XGB - ', xgbb(rfe(x, y, model_xgb), y))
print('ADB - ', adb(rfe(x, y, model_adb), y))
print('MLP - ', mlp(rfe(x, y, model_mlp), y))
print('GB - ', gb(rfe(x, y, model_gb), y))

In [ ]:
#with feature selection csf


print('lr - ', lr(data_cfs, y))
print('dtc - ', dtc(data_cfs, y))
print('rfc - ', rfc(data_cfs, y))
print('knn - ', knn(data_cfs, y))
# print('svm - ', svm(data_cfs, y))
print('Naive Bayes - ', nb(data_cfs, y))
print('XGB - ', xgbb(data_cfs, y))
print('ADB - ', adb(data_cfs, y))
print('MLP - ', mlp(data_cfs, y))
print('GB - ', gb(data_cfs, y))

In [ ]:
#with feature selection fir


print('lr - ', lr(data_fir, y))
print('dtc - ', dtc(data_fir, y))
print('rfc - ', rfc(data_fir, y))
print('knn - ', knn(data_fir, y))
# print('svm - ', svm(data_fir, y))
print('Naive Bayes - ', nb(data_fir, y))
print('XGB - ', xgbb(data_fir, y))
print('ADB - ', adb(data_fir, y))
print('MLP - ', mlp(data_fir, y))
print('GB - ', gb(data_fir, y))